<div>
<h1>我的写作</h1>
<% if @books.empty? %>
  <div >你还没开始写作呢，<%= link_to '开始写本新书', new_book_path %>吧！</div>
<% else %>


<% @books.each do |book| %>
  <div class="box">
    <h2><%=h book.name %></h2>
    分类:<%=h book.category %><br/>
    描述:<%=h book.description %>

    <%= link_to '详细', book %>
    <%= link_to '编辑', edit_book_path(book) %>
    <%= link_to '删除', book, :confirm => 'Are you sure?', :method => :delete %>
  </div><br/>
<% end %>

<%= link_to '开始写本新书', new_book_path %>
<% end  %>
</div>